:root {
  line-height: 1.8;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Google Sans';
}

body {
  margin: 0;
}

html {
  scroll-padding-top: 120px;
}

h1,
h2 {
  font-weight: 500;
  color: var(--text-h);
  color: #fffffe;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 1.5em;
  margin: 0;
  color: #94a1b2;
}

a {
  color: #94a1b2;
  text-decoration: inherit;
}

main {
  width: 100%;
  margin: 0;
  padding: 0;
}

button {
    padding: 20px 30px;
    border: none;
    font-size: 16px;
    background-color: #7f5af0;
    cursor: pointer;
    border-radius: 5px;
}

#app {
  width: 100%;
  margin: 0;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#home {
  margin: 0;
  min-height: 100vh;
  background-color: #16161a;
  padding: 230px 50px 50px;
  box-sizing: border-box;
}

#about {
  margin: 0;
  min-height: 100vh; 
  background: linear-gradient(#16161a, #242629);
  padding: 50px;
  box-sizing: border-box;
}

#project {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(#242629, #16161a);
  padding: 50px;
  box-sizing: border-box;
}

#contact {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(#16161a, #242629);
  padding: 50px;
  box-sizing: border-box;
}